<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Accessbility</string>
	<key>contactEmailRot13</key>
	<string>hello@yago.io</string>
	<key>contactName</key>
	<string>Yago</string>
	<key>description</key>
	<string>Sublime Text 3 accessibility markup helper</string>
</dict>
</plist>
